@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <head>
        <style>
    .footer{
 position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #088395;
  white-space: nowrap;
  line-height: 10px;
    }    
</style>

    </head>
    
<body>
    <footer class="container-fluid text-light mt-auto text-center py-4" style="background-color: #088395; position: sticky;">
        <p>  © 2024 Investment Management System</p>
    </footer> 
</body>
</html>
