@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style>
    /* Body background color */
  body {
    background-color: white; 
 } 

/* Container padding */
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Chart container margin */
canvas {
    margin: 0 auto;
    display: block;
}

/* Chart title alignment */
h1 {
    text-align: center;
}

/* Lead paragraph alignment */
.lead {
    text-align: center;
}

/* Additional paragraph alignment */
p {
    text-align: center;
}

/* .custom-bg-color{
    /* background-color: #DEBACE; */
    /*background-color: #BA94D1;
} */

</style>
@* <div class="container ">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome To InvestEdge!!</h1>
            <p>InvestEdge is your go-to platform for managing your investments effectively.
            With InvestEdge, you can track your portfolio, analyze investment performance, and make informed decisions to optimize your financial growth.
            Get started today and take control of your investments!</p>
        </div>
    </div>
</div> *@
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            @* <h1>Welcome To InvestEdge!</h1> *@
            <h2 class="text-center ">Empower Your Investments</h2>
            <p>InvestEdge is your comprehensive solution for managing and optimizing your investments.</p>
            <p>From tracking your portfolio to analyzing market trends, we provide the tools you need to make informed decisions and achieve your financial goals.</p>
            <p>Key features of InvestEdge:</p>
            <div class="text-center"
            <ul >
                <li>Portfolio Tracking: Monitor your investments in real-time.</li>
                <li>Performance Analysis: Gain insights into your investment performance.</li>
                <li>Market Research: Stay informed with up-to-date market data and trends.</li>
                <li>Financial Planning: Plan and strategize for your future financial growth.</li>
            </ul>
            </div>
            @* <a href="#" class="btn">Get Started</a> *@
        </div>
    </div>
</div>