@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}


<style>
    .container-wrapper {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        overflow: hidden;
    }

    .login-container {
        position: relative;
        text-align: center;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 600px; /* Adjust the width as needed */
        z-index: 1;
    }

        .login-container h1 {
            color: #3498db;
        }

    form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

 label {
        margin-bottom: 8px;
        color: #333;
        text-align: left;
    }

    input {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid;
        border-radius: 4px;
    }

    button {
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        width: 100px;
        border-radius: 4px;
        cursor: pointer;
    }

        button:hover {
            background-color: #2980b9;
        }

    p {
        margin-top: 20px;
        color: #666;
    }
a {
        color: #3498db;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }


    .show-password {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

        .show-password label {
            margin-bottom: 22px; /* Adjust as needed */
        }
</style>
<center>

    <div class="container-wrapper">

        <div class="login-container">

            <h1>RESET PASSWORD</h1>

            <form asp-action="ResetPassword" asp-controller="Client" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />

                <label for="password1">Re-enter Password:</label>
                <input type="password" id="password1" name="password1" required>           
                <div class="show-password">
                    <input type="checkbox" id="showPasswordCheckbox" onclick="myFunction()">
                    <label for="showPasswordCheckbox">Show Password</label>
                    
                </div>
                <p id="passwordMatchMessage" style="color:black"></p>

                <center>
                    <button type="submit" id="submitBtn" disabled>Submit</button>

                </center>
            </form>
        </div>

    </div>


</center>
<script>
    const passwordField = document.getElementById('password');
    const password1Field = document.getElementById('password1');
    const passwordMatchMessage = document.getElementById('passwordMatchMessage');
    const submitButton = document.getElementById('submitBtn');

    // Add an input event listener to the password1 field
    password1Field.addEventListener('input', function () {
        // Check if the passwords match
        if (passwordField.value === password1Field.value) {
            passwordMatchMessage.textContent = 'Passwords match';
            passwordMatchMessage.style.color = 'green';
            submitButton.disabled = false;
        } else {
            passwordMatchMessage.textContent = 'Passwords do not match';
            passwordMatchMessage.style.color = 'red';
            submitButton.disabled = true;
        }
    });
    function myFunction() {
        var x = document.getElementById("password");
        var y = document.getElementById("password1");
        if (x.type === "password" || y.type === "password1") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }
</script>